*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hydra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1 !important; /* el canvas siempre va al fondo */
    pointer-events: none !important; /* evita bloquear clics */
}